
body /*Border around whole website*/
{
	background-color: #0943ef;
}

div /*Shows text in block fomrat*/
{
	Display:block;
	margin-top:20px;
	margin-bottom:20px;
	margin-right:20px;
	margin-left:20px;
}

.header /*Title on top of website*/
{
	background-color:#b20312;
	text-align: center;
	padding:20px;
}

.topnav /*Navigation bar*/
{
	overflow:hidden;
	background-color:#b20312;
}
	
.topnav a /*Details for navigation bar*/
{
	float: center;
	display:block; 
	color:#abaeb2;
	text-align: center;
	padding: 14px 16px;
	test-decoration:none;
}

.leftcolumn1 /*Left column sizing*/
{
	float: left;
	width: 30%;
}

.columnright1 /*right column sizing*/
{
	float:right;
	width:25%;
}

.columnmiddle1 /*middle column sizing*/
{
	float:right;
	width:30%;
}

.card /*colored box the text is on*/
{
	background-color:#b20312;
	padding:10px;
	margin-top:20px;
}

.hidden /*Hidden broder to keep text in the card*/
{
	border-style: hidden;
}
